
.details-container {
    border: 3px solid #F5F5F7;
    margin: 15px;
    padding: 4px;
    border-radius: 10px;
}


.content {
    margin: 8px;
    display: flex;
    justify-content: space-between;
}

.number-call {
    display: flex;
flex-direction: column;
}

.number {
    font-weight: bold;
}

.date {
    display:flex;
    justify-content: center;
}

.red-circle {

    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 5px;
    background: #F95040;
    

}