.details-container {
    border: 2px solid #F5F5F7;
    /* margin: 3px; */
}


.content {
    margin: 8px;
    display: flex;
    justify-content: space-between;
}

.number-call {
    display: flex;
flex-direction: column;
}

.number {
    font-weight: bold;
}